
body{
    background-color: #333030;
}
.background{
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    background-image: linear-gradient(rgba(10, 1, 1, 0.3),rgba(22, 3, 3, 0.3)),url('../../images/bannerImage.png');
    background-repeat: no-repeat ;
}


.background p{
    font-size: 2.5rem;
    color: white;
    
}

@media only screen and (max-width: 360px) {

    .background{
      height: 20vh;
    }

    .background p{
        font-size: 1.7rem;
        
    }
  }